.list-user-container {
    .list-user-content {
        .child {
            width: 400px;
            height: 40px;
            margin: auto;
            border: 1px solid grey;
            text-align: left;
        }
    }
}